Checks: >
  clang-analyzer-*,
  misc-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-non-const-parameter,
  -readability-uppercase-literal-suffix,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner
WarningsAsErrors: 'true'
HeaderFilterRegex: '.*'
FormatStyle: file
